# Gradle
.gradle/
build/
**/build/

# IntelliJ / Android Studio
.idea/
*.iml

# Local environment
local.properties
*.jks
*.keystore

# Kotlin incremental/caches
.kotlin/

# extracted/generated dependency sources
/androidMain/
/commonMain/
/jvmMain/
/META-INF/

# Xcode user-specific state
**/xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# local captures
screenshot.png
